<div class="bg--white">
  <div class="harvey">

    <a href="http://bit.ly/2rqcfJX" id="tracking-max-{{feature.id}}-image" class="harvey__img" style="background-image: url({{site.img}}/content/promo-nikon-max.jpg);" target="_blank"></a>

    <div class="harvey__text text--center text--default">
      <h2 class="title title--lg text--bold">Nikon MAGAZIN</h2>
      <p class="text--lg text--bold">Das Nikon MAGAZIN ist die Inspirationsquelle für alle Themen rund um die Fotografie - für Einsteiger und fortgeschrittene Fotografen. </p>
      <p class="text--lg">Von Erfahrungsberichten unserer Nikon-Fotografen bis hin zu Behind-the-Lense Berichten aus aller Welt finden hier verschiedenste Themen ein Zuhause.</p>
      <div class="space--sm"></div>
      <a href="http://bit.ly/2rqcfJX" id="tracking-max-{{feature.id}}-button" class="btn btn--solid" target="_blank">Mehr erfahren</a>
    </div>

  </div>
</div>