<div class="competition-promo vpad--xxxxl" style="background-image: url('{{site.img}}/content/promo-competition.jpg')">

  <div class="container container--xl">
    <div class="text--center text--white">
      <h2 class="title title--xl text--bold">Gewinnen Sie eine Fotoreise plus Nikon-Kamera-Kit</h2>
      <div class="space--sm"></div>
      <p class="text--xl text--normal vpad--xs">Gewinnen Sie einen 1000 €-Gutschein für Ihre ganz persönliche Traumreise sowie eine Nikon D7500 mit Zoomobjektiv, um Ihre Reise festzuhalten.</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/gewinnspiel" class="btn btn--solid">Jetzt teilnehmen</a>
    </div>
  </div>

</div>