<div class="nikon-promo bg--white">
  <div class="harvey">

    <div class="harvey__img" style="background-image: url({{site.img}}/content/promo-nikon.jpg);"></div>

    <div class="harvey__text text--center text--default">
      <h2 class="title title--xxl">Nikon School</h2>
      <p class="text--lg text--bold">Join us at Nikon School to learn how to get the best from your camera, lenses and speedlights
      <p class="text--lg">Nikon School is a venue for photography training that aims to educate and inspire. Our workshops cater for every level of photographic ability, whether you are a beginner, keen amateur or professional photographer.</p>
      <div class="space--sm"></div>
      <a href="" class="btn btn--solid">Find out more</a>
    </div>

  </div>
</div>