<div class="competition-promo vpad--xxxxl" style="background-image: url('{{site.img}}/content/competition-promo.jpg')">

  <div class="container container--xl">
    <div class="text--center">
      <h2 class="title title--xxl text--bold">Win your very own photographic journey</h2>
      <div class="space--sm"></div>
      <p class="text--xl text--normal vpad--xs">Win a trip to New York plus a Nikon D7500 to capture your journey. To prepare fully, you'll also visit the Nikon School to make sure you get the perfect shot.</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/competition" class="btn btn--solid">Enter now</a>
    </div>
  </div>

</div>