<div class="competition-promo vpad--xxxxl" style="background-image: url('{{site.img}}/content/promo-competition.jpg')">

  <div class="container container--xl">
    <div class="text--center text--white">
      <h2 class="title title--xxl text--bold">Gewinnen Sie Ihre eigene Fotoreise</h2>
      <div class="space--sm"></div>
      <p class="text--xl text--normal vpad--xs">Gewinnen Sie eine Reise nach New York sowie eine Nikon D7500 um Ihre Reise festzuhalten. Als Vorbereitung besuchen Sie auch die Nikon School, damit auch Ihnen perfekte Aufnahmen gelingt.</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/competition" class="btn btn--solid">Jetzt Teilnehmen</a>
    </div>
  </div>

</div>