---
layout: default
id: overview
nav: true
nav-order: 1
title: Überblick

banner:
  title-sup: >
    <div class="banner__logo banner__logo--nikon"></div>
  title: Capture the Journey

intro: >
  <p class="text--xl text--bold">Folgen Sie Secret Escapes und Nikon zu den fotogensten Reisezielen der Welt.</p>
  <p class="text--xl">Wir haben 3 fotobegeisterte Secret Escapes-Kolleg(inn)en auf die Reise geschickt, um in Begleitung professioneller Fotografen zu lernen, wie die perfekte Aufnahme gelingt. Zusammen haben sie die Naturgewalt Islands erkundet, die Farbenpracht Marokkos und die ikonischste Metropole überhaupt: New York City – begleiten Sie uns auf eine spektakuläre fotografische Reise.</p>
  <p class="text--xl">Lassen Sie sich inspirieren und schüren Sie mit Reiseberichten und unschlagbaren Hotelangeboten die eigene Wanderlust.</p>
---



<div class="bg--grey-darker">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>



{% assign destinations = site.html_pages | where: 'layout','journey' | sort:'nav-order' %}
{% for destination in destinations %}
<div class="vpad--xxl bg--fixed" style="background-image:url({{site.img}}/content/{{page.id}}/{{destination.id}}-bg.png);">
  <div class="container">
    <div class="bob{% cycle "", " bob--swap" %}">

      <div class="bob__img">

        <div class="boxpad--sm">
          <a href="javascript:void(0);" data-modal-item="{{destination.id}}-video" class="js-open-modal bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/overview/{{destination.id}}.jpg');">
            <span class="bg-img__play bg-img--zoom"></span>
          </a>
        </div>

        <div class="row row--constant-6-6 row--no-gutters">
          <div class="col">
            <div class="boxpad--sm">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/overview/{{destination.id}}-1.jpg');"></div>
            </div>
          </div>
          <div class="col">
            <div class="boxpad--sm">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/overview/{{destination.id}}-2.jpg');"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="bob__text">
        <h3 class="title title--xl text--normal">{{destination.title}}</h3>
        <p class="text--lg">{{destination.intro.parent}}</p>
        <div class="space--md"></div>
        <a href="{{site.baseurl}}{{destination.url}}" class="btn btn--solid">{{destination.title}} entdecken</a>
      </div>

    </div>
  </div>
</div>
{% endfor %}




{% include page/promo-nikon.html %}
{% include page/promo-competition.html %}