---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title-sup: >
    <div class="banner__logo banner__logo--nikon"></div>
  title: Capture the Journey

intro: >
  <p class="text--xl text--bold">Immerse yourself in effortlessly photogenic destinations with Secret Escapes and Nikon.</p>
  <p class="text--xl">We sent three Secret Escapes colleagues, passionate about photography, to learn more about what it takes to capture the perfect shot. Accompanied by professional photographers, they set off to explore the wilds of Iceland, a riot of colour in Morocco, and the iconic metropolis of New York – discover their photographic journey.</p>
  <p class="text--xl">Let these stories inspire your very own escape, with travel guides and irresistible hotel offers set to kickstart your wanderlust.</p>
---



<div class="bg--grey-darker">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>



{% assign destinations = site.html_pages | where: 'layout','group' | sort:'nav-order' %}
{% for destination in destinations %}
<div class="container container--100 vpad--xxl bg--fixed" style="background-image:url({{site.img}}/content/{{page.id}}/{{destination.id}}-bg.png);">
  <div class="container">
    <div class="bob{% cycle "", " bob--swap" %}">

      <div class="bob__img">

        <div class="boxpad--sm">
          <a href="javascript:void(0);" data-modal-item="{{destination.id}}-video" class="js-open-modal bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/overview/{{destination.id}}.jpg');">
            <span class="bg-img__play bg-img--zoom"></span>
          </a>
        </div>

        <div class="row row--6-6 row--no-gutters">
          <div class="col">
            <div class="boxpad--sm">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/overview/{{destination.id}}-1.jpg');"></div>
            </div>
          </div>
          <div class="col">
            <div class="boxpad--sm">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/overview/{{destination.id}}-2.jpg');"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="bob__text">
        <h3 class="title title--xl text--normal">{{destination.title}}</h3>
        <p class="text--lg">{{destination.intro.parent}}</p>
        <div class="space--md"></div>
        <a href="{{site.baseurl}}{{destination.url}}" class="btn btn--solid">Read more</a>
      </div>

    </div>
  </div>
</div>
{% endfor %}




{% include page/promo-competition.html %}