---
layout: default
id: competition
title: Gewinn&shy;spiel
nav: true
nav-order: 6
nav-title: Gewinnspiel

banner:
  title: Gewinnspiel
  title-sub: Gewinnen Sie ein unvergessliches Erlebnis mit Ihrem Nikon Kamera-Kit

intro: >
  <p class="text--xl">Ein Reisegutschein im Wert von 1000 € und ein Nikon D7500 Telezoom-Kit für unterwegs sind alles, was Sie für ein unvergessliches Abenteuer brauchen. Nikon und Secret Escapes schicken Sie auf die Reise. </p>
  <div class="space--lg"></div>
  <a href="#enter" class="btn btn--solid btn--lg">Jetzt teilnehmen</a>

prizes:

  - id: journey
    title: Gehen Sie auf Foto-Reise mit Secret Escapes
    content: >
      <p>Sie wollten Ihre fotografischen Fähigkeiten schon immer auf einer spannenden Reise anwenden und träumen von großen Metropolen wie New York und Paris oder aufregenden Ländern wie Marokko und Island? Egal ob Wolkenkratzer, Wahrzeichen wie der Eiffelturm, lebendige Medinas oder unendliche Landschaften – es gibt so viel zu entdecken. Treten Sie in die Fußstapfen der bekanntesten Fotografen der Welt und gehen Sie mit einem 1000 €-Gutschein von Secret Escapes auf Ihre ganz persönliche Traumreise.</p>
    enter-cta: Jetzt teilnehmen

  - id: nikon
    title: Für perfekte Fotos auf Ihrer Reise
    content: >
      <p>Sie sind passionierter Reisefotograf? Dieses Zoomobjektiv-Kit beinhaltet alles, für schöne, ewige Erinnerungen. Es enthält die Kamera D7500 und das kompakte Objektiv AF-S DX NIKKOR 18–140 mm 1:3,5–5,6 G ED VR.</p>
      <p>Das vielseitige 7,7-fach-Zoomobjektiv mit seiner Brennweite von Weitwinkel bis Tele ist perfekt für Aufnahmen weitläufiger Landschaften, aber auch von Ereignissen in größerer Entfernung geeignet. Der beeindruckende Bildstabilisator von Nikon sorgt selbst bei schwachem Licht für scharfe Bilder.</p>
    enter-cta: Jetzt teilnehmen
    external-cta: Mehr erfahren
    external-link: http://bit.ly/2wnbd7d


---



<div class="bg--grey-darker">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>



<div class="container container--100 container--no-padding row row--constant-4-4-4 row--no-gutters">
  <div class="col bg-img bg-img--3-4 bg-img--lg-4-3" style="background-image: url({{site.img}}/content/competition/01.jpg);"></div>
  <div class="col bg-img bg-img--3-4 bg-img--lg-4-3" style="background-image: url({{site.img}}/content/competition/02.jpg);"></div>
  <div class="col bg-img bg-img--3-4 bg-img--lg-4-3" style="background-image: url({{site.img}}/content/competition/03.jpg);"></div>
</div>



<div class="bg--grey-darker">
  <div class="container vpad--xxl">
    {% for prize in page.prizes %}
    <div class="row row--gutters row--valign-center vpad--lg{% cycle ""," row--reverse" %}">
      <div class="col col--6">
        <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/competition/prize-{{prize.id}}.jpg);"></div>
      </div>
      <div class="col col--6">
        <h3 class="title title--sm text--bold">{{prize.title}}</h3>
        {{prize.content}}
        <div class="space--md"></div>
        <a href="#enter" class="btn btn--solid btn--sm">{{prize.enter-cta}}</a>
        {% if prize.external-cta %}
          <a href="{{prize.external-link}}" target="_blank" class="btn btn--sm btn--outline btn--outline-white">{{prize.external-cta}}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>



<div class="bg--black">
  <div class="container container--xxl text--center vpad--xxl">
    <div class="wp" id="enter"></div>
    <h3 class="title title--md text--bold">Nehmen Sie jetzt am Gewinnpiel teil</h3>
    <hr class="hr--center">
    <div class="space--lg"></div>
    <iframe scrolling="no" class="competition__form" src="https://news.secretescapes.de/nikon-de-comp/" width="100%" height="600" frameborder="0"></iframe>
  </div>
</div>

