<div class="container container--100 container--no-padding modal-photo">



  <div class="modal-photo__img modal-photo__img--{{item.orientation}}">
    <img src="{{site.img}}/content/{{item.page}}/photos/{{item.id}}.jpg" alt="{{item.title}}">
  </div>



  <div class="modal-photo__content text--white vpad--l">

    <div class="modal-photo__content-toggle accordion__trigger accordion--open" data-accordion-id="{{item.id}}-accordion">
      <img src="{{site.img}}/icons/arrow-down-dark.svg">
    </div>

    <h3 class="title title--sm text--bold">{{item.title}}</h3>
    <div class="space--xs"></div>
    <p class="title title--xxxs">Eingefangen von <span class="text--bold">{{item.photographer}}</span></p>
    <div class="space--sm"></div>

    <div class="accordion accordion--open" id="{{item.id}}-accordion">
      <p>{{item.content}}</p>
      <hr>
      <h5 class="title title--xxxs">Aufgenommen mit <span class="text--bold">{{item.camera}}</span></h5>
      <div class="row row--6-6 row--constant-6-6">
        <div class="col">
          <ul class="list--lined">
            <li><span class="text--bold">Objektiv:</span> {{item.lens}}</li>
            <li><span class="text--bold">Blende:</span> {{item.aperture}}</li>
          </ul>
        </div>
        <div class="col">
          <ul class="list--lined">
            <li><span class="text--bold">Belichtungszeit:</span> {{item.shutterspeed}}</li>
            <li><span class="text--bold">Brennweite:</span> {{item.focallength}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>



</div>