<div class="banner banner--article">
  <div class="site-header__offset"></div>
  {% include nav/site.html %}

  <div class="banner__wrap">

    <div class="banner__content">
      <div class="boxpad--sm">
        <h1 class="title title--xxl text--bold">{{page.page-title}}</h1>
        <hr>
        {% for photographer in page.photographers %}
          <a href="javascript:void(0);" data-modal-item="photographer-eleanor" data-modal-group="photographers" class="js-open-modal title"><span class="title--xxs text--bold">{{photographer.title}}</span> {{photographer.position}}</a>
          <hr>
        {% endfor %}
      </div>
    </div>

  </div>

  <div class="banner__bg" style="background-image: url('{{site.img}}/banner/{{page.id}}.jpg')"></div>
</div>