// general styles for the project that wouldn't be a reuseable component

.bg {
  &--white { background-color: $white; }
  &--grey-light { background-color: $grey-light; }
  &--grey-lighter { background-color: $grey-lighter; }
  &--grey-lightest { background-color: $grey-lightest; }
  &--grey { background-color: $grey; }
  &--grey-dark { background-color: $grey-dark; }
  &--grey-darker { background-color: $grey-darker; }
  &--grey-darkest { background-color: $grey-darkest; }
  // images
  &--fixed { background-attachment: fixed; }
}



.journey {
  // Video section
  &__video { z-index: $z-content-upper; }
  &__video-section { position: relative; }
  &__video-fade {
    z-index: $z-content;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/icons/gradient--grey-darkest.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: bottom;
  }
  // Photo sections
  &__photo {}
  &__photo-image {}
  &__photo-text {}
  &__photo-map {
    width: 480px;
  }
}

