---
layout: default
---



<div class="bg--grey-darker banner__fade-intro">
  <div class="container">
    <div class="row row--gutters row--6-6 row--valign-center">

      <div class="col">
        {{page.intro.long}}
      </div>

      <div class="col">
        <a href="javascript:void(0);" data-modal-item="{{page.id}}-video" class="js-open-modal journey__video bg-img bg-img--16-9 bg-img--rounded" style="background-image: url({{site.img}}/content/{{page.id}}/video.jpg);">
          <span class="bg-img__play bg-img--zoom"></span>
        </a>
      </div>

    </div>
    <div class="space--xxl"></div>
  </div>
</div>



{% assign group-id = page.id %}
{% assign group-pages = site.html_pages | where: 'group-parent', group-id | sort: 'group-order' %}

<div class="container-100 vpad--xxl">
  <div class="container">
    {% for group-page in group-pages %}
    <div class="bob{% cycle ""," bob--swap" %}">
      <div class="bob__img">
        <a href="{{site.baseurl}}{{group-page.url}}">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/nav/{{group-page.id}}.jpg');">
            <div class="bg-img__content">
              <h5 class="title title--xxxs text--bold text--upper text--wide-kern-lg">{{page.title}}</h5>
              <h3 class="title title--xl text--normal">{{group-page.title}}</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="bob__text">
        <h3 class="title title--md text--normal">{{group-page.page-title}}</h3>
        <p class="text--lg">{{group-page.intro.parent}}</p>
        <div class="space--md"></div>
        <a href="{{site.baseurl}}{{group-page.url}}" class="btn btn--solid">Read more</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% include page/promo-competition.html %}