---
layout: default
id: nikon
title: Nikon
nav: true
nav-order: 7
nav-title: Nikon


banner:
  title-sup: >
    <div class="banner__logo banner__logo--iamchasing"></div>
  title: Nikon
  title-sub: Erleben Sie ultimative Bildqualität und kreative Kontrolle mit einer Nikon-Spiegelreflexkamera

intro: >
  <p class="text--xl text--bold">Starten Sie Ihre eigene Foto-Reise mit Nikon.</p>
  <p class="text--xl">Egal ob Amateur- oder Profi-Fotograf, ihre nächste Kamera sollte eine Nikon sein. Gönnen Sie sich ein Upgrade auf die D7500 für superscharfe, hochaufgelöste Fotos mit fein abgestuften, intensiven Farbtönen. Sie ist das perfekte Werkzeug, um Ihre Fotografie weiterzuentwickeln und den perfekten Augenblick mühelos einzufangen.</p>
  <p class="text--xl">Wenn Sie sich in der Fotografie bereits sicher fühlen, ist die D850 wie für Sie gemacht: Extrem hohe Auflösung trifft bei dieser Kamera auf ebenso hohe Schnelligkeit – die perfekte Verbindung, um Ihrer fotografischen Kreativität ganz neue Perspektiven zu eröffnen.</p>

features:

  - id: nikon-d7500
    title: Nikon D7500
    content: "Die Jagd nach dem perfekten Bild kann Sie überall hinführen. Machen Sie die leistungsstarke, agile D7500 mit umfassender Konnektivität zu Ihrem Begleiter und fangen Sie die Schönheit Ihrer Motive mit der erstklassiger-Bildqualität ein, die diese Kamera von dem Nikon-Spitzenmodell im DX-Format, der D500, übernommen hat."
    link: "http://bit.ly/2HZwm8N"

  - id: nikon-d850
    title: Nikon D850
    content: "Mit der ultimativen Kombination von Auflösung, Schnelligkeit und Lichtempfindlichkeit zu Ihrer Verfügung, machen Sie nicht nur sensationelle Fotos - Sie zeigen Ihr Können."
    link: "http://bit.ly/2rr9UyB"

  - id: nikkor-lenses
    title: NIKKOR-OBJEKTIVE
    content: "Eine großartige Kamera ist immer nur so gut, wie die Objektive, die Sie wählen. Erweitern Sie Ihre kreative Vision und holen Sie mit einer Auswahl von über 90 NIKKOR-Objektiven das Beste aus Ihrer Kamera – jedes Objektiv ist so optimiert, dass Ihre Bilder kristallscharf werden, egal welches Motiv."
    link: "http://bit.ly/2HVX1Yf"

testimonials:

  - by: Eleanor Cording-Booth
    destination: iceland
    content: >
      Die D7500 ist die perfekte Wahl für ein so spannendes Reiseziel wie Island. Die Abdichtung gegen Witterungseinflüsse bedeutet, dass man draußen in den Elementen tolle Fotos machen kann, ohne die Kamera zu beschädigen. Und mit dem neigbaren Touchscreen erreicht man jeden gewünschten Blickwinkel, ohne sich der Länge nach in den Matsch legen zu müssen.

  - by: Louis Adams
    destination: morocco
    content: >
      Die Nikon D7500 ist super einfach in der Handhabung und macht dabei sensationelle Fotos. In den trubeligen Straßen Marrakeschs fand ich den Serienaufnahmemodus besonders hilfreich, um den richtigen Moment einzufangen. Das ich die Fotos mit der SnapBridge-App direkt auf mein Handy laden konnte, war ein zusätzlicher Bonus!

  - by: Craig Howes
    destination: iceland
    content: >
      Das Fotografieren mit der Nikon D850 hat riesigen Spaß gemacht, denn diese robuste Kamera hat auch den rauen Bedingungen Islands standgehalten. Der Dynamikumfang ist sensationell und eines meiner liebsten Features war der integrierte Zeitraffer für die so willkürlichen Nordlichtern, deren Erscheinen einen mitunter überraschen kann.

  - by: Ross Walker
    destination: morocco
    content: >
      Mit der Nikon zu fotografieren war großartig, denn ihr Autofokus war so schnell, dass ich mir keine Sorgen machen musste, den ›einen Moment‹ zu verpassen – das war wesentlich auf den trubeligen Märkten, wo ich gerne fotografiere.

  - by: Marianna Sgherri
    destination: new-york
    content: >
      Die Nikon D7500 ist die perfekte Kamera für einen Großstadttrip in Metropolen wie New York. An einem Ort, wo permanent so viel los ist, braucht man eine Kamera, deren Akku lange durchhält und die auch bei schlechten Lichtverhältnissen ganze Arbeit leistet. Mit der D7500 musste ich mir keine Sorgen machen, dass meine Nachtaufnahmen durch ›Rauschen‹ verdorben werden oder dass der Akku mich mit auf einer Fototour plötzlich im Stich lässt.

  - by: Victoria Campbell
    destination: new-york
    content: >
      Ich habe es richtig genossen mit der Nikon D850 zu fotografieren und war überrascht von der Schärfe und der Qualität meiner Aufnahmen. Ich fand es super, zwischen optischem Sucher und Touchscreen hin- und her wechseln zu können und am meisten mochte ich es, die ganzen verschiedenen Features dieser Kamera auszutesten.

---



<div class="bg--grey-darker">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>



<div class="container vpad--xl">
  {% for feature in page.features %}
  <div class="bob vpad--xl{% cycle "", " bob--swap" %}">
    <div class="bob__img">
      <a href="{{feature.link}}" id="tracking-nikon-{{feature.id}}-image" class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/nikon/{{feature.id}}.jpg);" target="_blank">
        <span class="bg-img__content">
          <img class="bg-img--zoom" src="{{site.img}}/content/{{page.id}}/{{feature.id}}-title.png" width="200">
        </span>
      </a>
    </div>
    <div class="bob__text">
      <h3 class="title title--md text--bold">{{feature.title}}</h3>
      <p class="text--lg">{{feature.content}}</p>
      <div class="space--sm"></div>
      <a href="{{feature.link}}" id="tracking-nikon-{{feature.id}}-button" class="btn btn--solid" target="_blank">Mehr erfahren</a>
    </div>
  </div>
  {% endfor %}
</div>



<div class="testimonial">

  <div class="testimonial__carousel carousel owl-carousel" id="testimonial-carousel">
    {% for testimonial in page.testimonials %}
      <div class="testimonial__slide" style="background-image: url({{site.img}}/content/{{page.id}}/testimonial-{{testimonial.destination}}.jpg);">
        <div class="container container--xxl text--white text--center">
          <hr>
          <p class="text--xl text--italic">»{{testimonial.content}}«</p>
          <p class="testimonial__content">
            <span class="testimonial__content-image bg-img bg-img--1-1 bg-img--circle" style="background-image:url({{site.img}}/content/{{testimonial.destination}}/photographers/{{testimonial.by|slugify}}.jpg);"></span>
            <span class="title text--lg text--bold">{{testimonial.by}}</span>
          </p>
          <hr>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="carousel-nav">
    <div class="carousel-navitem carousel-navitem-next" id="testimonial-carousel-next"></div>
    <div class="carousel-navitem carousel-navitem-prev" id="testimonial-carousel-prev"></div>
  </div>

</div>



{% include page/promo-nikon-max.html %}
{% include page/promo-competition.html %}


